<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 57.7 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=bac554b2c0a234eb1685b227ff70b8b55901ca7d9c0a7bb5b506dd19af4ebb19
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
%sql SELECT SUM("Payload Mass (kg)") AS Total_Payload_Mass FROM SPACEXTABLE WHERE "Customer" LIKE 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(0.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
%sql SELECT AVG("Payload Mass (kg)") AS Average_Payload_Mass FROM SPACEXTABLE WHERE "Booster Version" = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(None,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
%sql SELECT MIN(Date) AS First_Successful_Landing_On_Ground_Pad FROM SPACEXTABLE WHERE "Landing Outcome" = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[(None,)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
%%sql SELECT "Booster Version" AS Booster_Names
FROM SPACEXTABLE
WHERE "Landing Outcome" = 'Success (drone ship)'
    AND "Payload Mass (kg)" > 4000 AND "Payload Mass (kg)" < 6000;

 * sqlite:///my_data1.db
Done.

[]

### Task 7




##### List the total number of successful and failure mission outcomes

In [20]:
%%sql SELECT "Landing Outcome" AS Mission_Outcome, COUNT(*) AS Total_Count
FROM SPACEXTABLE
GROUP BY "Landing Outcome";

 * sqlite:///my_data1.db
Done.

[('Landing Outcome', 101)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [21]:
%%sql SELECT "Booster Version" AS Booster_Names
FROM SPACEXTABLE
WHERE "Payload Mass (kg)" = (SELECT MAX("Payload Mass (kg)") FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',),
 ('Booster Version',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [23]:
%%sql SELECT
    CASE
        WHEN substr(Date, 4, 2) = '01' THEN 'January'
        WHEN substr(Date, 4, 2) = '02' THEN 'February'
        WHEN substr(Date, 4, 2) = '03' THEN 'March'
        WHEN substr(Date, 4, 2) = '04' THEN 'April'
        WHEN substr(Date, 4, 2) = '05' THEN 'May'
        WHEN substr(Date, 4, 2) = '06' THEN 'June'
        WHEN substr(Date, 4, 2) = '07' THEN 'July'
        WHEN substr(Date, 4, 2) = '08' THEN 'August'
        WHEN substr(Date, 4, 2) = '09' THEN 'September'
        WHEN substr(Date, 4, 2) = '10' THEN 'October'
        WHEN substr(Date, 4, 2) = '11' THEN 'November'
        WHEN substr(Date, 4, 2) = '12' THEN 'December'
    END AS Month_Name,
    "Landing Outcome" AS Failure_Landing_Outcome,
    "Booster Version" AS Booster_Version,
    "Launch Site" AS Launch_Site
FROM SPACEXTABLE
WHERE substr(Date, 7, 4) = '2015'
    AND "Landing Outcome" LIKE 'Failure%'
    AND "Landing Outcome" LIKE '%drone ship%';

 * sqlite:///my_data1.db
Done.

[]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [25]:
%%sql SELECT "Landing Outcome", COUNT(*) AS Count_Landing_Outcomes
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing Outcome"
ORDER BY Count_Landing_Outcomes DESC;

 * sqlite:///my_data1.db
Done.

[('Landing Outcome', 32)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>